---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
import DemoPic from '../assets/demo-pic.jpg'
---

<Layout title="DobelC - Productos" header='Nuestros Productos'>
	
	
	<div class="w-2/3 flex items-center flex-col overflow-hidden">
		<Card id='prod-1' link={DemoPic} reverse={false} title='Demo Product'>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde hic voluptatibus porro doloremque modi, dolores voluptas laborum tempore commodi ipsa exercitationem laboriosam molestiae id reiciendis dignissimos, consequatur totam! Blanditiis, mollitia.
		</Card>
		<Card id='prod-2' link={DemoPic} reverse={true} title='Demo Product'>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis saepe animi at cum reiciendis tempore porro commodi labore exercitationem tempora, perspiciatis voluptate eos cumque, provident illo temporibus accusamus non blanditiis!
		</Card>
		<Card id='prod-3' link={DemoPic} reverse={false} title='Demo Product'>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis saepe animi at cum reiciendis tempore porro commodi labore exercitationem tempora, perspiciatis voluptate eos cumque, provident illo temporibus accusamus non blanditiis!
		</Card>
		<Card id='prod-4' link={DemoPic} reverse={true} title='Demo Product'>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis saepe animi at cum reiciendis tempore porro commodi labore exercitationem tempora, perspiciatis voluptate eos cumque, provident illo temporibus accusamus non blanditiis!
		</Card>
	</div>
</Layout>

